@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  @apply font-sans antialiased h-full;
}

/* Page content wrapper */
.content-wrapper {
  @apply max-w-6xl mx-auto px-6 lg:px-8 py-12 lg:pb-14 h-full;
}
